root = "."
tmp_dir = "build"

[build]
  cmd = "go build -o ./build/faas ./cmd"
  bin = "./build/faas"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "node_modules", "build"]
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_dir = ["cmd", "internal", "frontend"]
  include_ext = ["go", "html", "js", "css"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = true
