# Data directory
data/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Build artifacts
/bin/
/dist/
/build/
tmp/

# editor
.idea
.DS_Store
logo/logo.af~lock~
